#navTop {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	border-bottom: 1px solid #dddce7;
}

.item-container {
	font-size: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 150px;
}

.icon {
	color: var(--violet);
	font-size: 1.5em;
	margin-right: 5px;
}

h1 {
	font-size: 0.8em;
}

#slider-container {
	width: 200px;
	margin-right: 150px;
}

#discrete-slider {
	font-size: 0.8em;
	text-transform: uppercase;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

@media only screen and (max-width: 900px) {
	.item-container {
		margin-left: 80px;
	}
	#slider-container {
		margin-right: 80px;
	}
}

@media only screen and (max-width: 750px) {
	.item-container {
		margin-left: 10px;
	}
	#slider-container {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 570px) {
	.item-container {
		font-size: 1.5em;
	}
}